:root {
    --dark-blue-100:#609ED4;
    --dark-blue-200:#356EA9;
    --dark-blue-300:#0A3871;
    --dark-blue-400:#072B61;
    --dark-blue-500:#052051;

    --light-blue-100:#F3F5FC;
    --light-blue-200:#EFF1FA;
    --light-blue-300:#E9ECF8;
    --light-blue-400:#AAB2D5;
    --light-blue-500:#757FB2;

    --gray-100:#CED4DA;
    --gray-200:#ADB5BD;
    --gray-300:#868E96;
    --gray-400:#495057;
    --gray-500:#343A40;

}

body {
    background: var(--light-blue-300);
}

.area-encryptor {
    width: 90%;
    height: 650px;
    margin: 20px auto 10px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas:
    "n1 n1 n1 n1 n1 n1 n2 n2"
    "n3 n3 n3 n3 n3 n3 n2 n2"
    "n3 n3 n3 n3 n3 n3 n2 n2"
    "n3 n3 n3 n3 n3 n3 n2 n2"
    "n3 n3 n3 n3 n3 n3 n2 n2"
    "n3 n3 n3 n3 n3 n3 n2 n2"
    "n3 n3 n3 n3 n3 n3 n2 n2"
    "n3 n3 n3 n3 n3 n3 n2 n2";
    gap: 15px;
    background: var(--light-blue-300);
}

.item {
    font-size: 2rem;
    font-family: Jost;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    background:none;
    grid-area: n1;
    color: var(--dark-blue-300);
    font-size: xx-large;
    font-weight: bolder;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    grid-area: n2;
    border-radius: 32px;
    box-shadow: 2px 2px #888888;
    vertical-align: middle;
}

.output img {
    margin-top: 30%;
    width: 80%;
    height: 304px;
    object-fit: contain;
}

.output p:nth-child(2) {
    font-size: 24px;
    width: auto;
    margin: 15px;
}

.output p:nth-child(3) {
    font-size: 16px;
    margin: 15px;
}

.input {
    display: block;
    background: none;
    grid-area: n3;
    padding: 15px 15px 15px 100px;
}

#input-text {
    width: 100%;
    height: 80%;
    background: none;
    border: none;
    font-family: Jost;
    font-size: 32px;
    text-transform: lowercase;
}

.input p {
    font-size: 12px;
    margin: 15px;
}

.btn {
    width: 25%;
    height: 50px;
    font-family: Jost;
    border: solid;
    border-color: var(--dark-blue-300);
    border-radius: 24px;
    border-width: 2px;
}

.encrypt {
    background: var(--dark-blue-300);
    color: #FFFFFF;
}

.decrypt {
    background: var(--gray-100);
    color: var(--dark-blue-300);
}

.copybtn {
    background: none;
    color: var(--dark-blue-300);
    width: 70%;
    margin: auto 0 auto 0;
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    font-family: Jost;
    gap: 15px;
}

footer a {
    text-decoration: none;
    
}

@media screen and (max-width:700px) {
    body {
        text-align: center;
    }

    .area-encryptor {
        width: 100%;
        height: fit-content;
        margin: 20px auto 10px;
        display: inline-block;
        align-items: center;
    }

    .header {
        display: block;
        align-items: center;
        background:none;
        color: var(--dark-blue-300);
        font-size: large;
        font-weight: bolder;
    }

    .input {
        align-items: center;
        width: 90%;
        margin: 15px 8px;
        padding: 5px;
    }

    #input-text {
        background-color: var(--light-blue-100);
        font-size: medium;
        text-align: center;
        border: solid;
        border-color: var(--dark-blue-300);
        border-radius: 5px;
        border-width: 2px;
    }

    .output {
        border-radius: 5px;
        margin: 15px 20px 15px 20px;
        padding: 15px;
        width: 83%;
        height: 30%;
    }

    .output img {
        display: none;
        width: 64px;
        height: 64px;
        margin: auto auto 15px auto;
    }

    .copybtn {
        margin: 5px;
    }

    footer {
        height: 90%;
        display: inline-block;
        text-align: center;
    }
}